<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192619207404-dgb6jd75gv2sqqp69q6ff5nti9dn08nl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192619207404-dgb6jd75gv2sqqp69q6ff5nti9dn08nl</string>
	<key>API_KEY</key>
	<string>AIzaSyAMx7qUxADs4wl8BAFqd6L1SjG7IvHEdtg</string>
	<key>GCM_SENDER_ID</key>
	<string>192619207404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.menoadvice.menoadvice</string>
	<key>PROJECT_ID</key>
	<string>menoadvice</string>
	<key>STORAGE_BUCKET</key>
	<string>menoadvice.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192619207404:ios:e4baa3857f4a0966bf63c9</string>
</dict>
</plist>